.promotionFormh1 {
  text-transform: uppercase;
  color: #888;
  font-family: "Raleway";
}
.promotionFormh2{
  color: #888;
  font-family: "Raleway";
}
.promotionFormGroup {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.promotionFormGroup label {
  margin-bottom: 5px;
  font-size: 16px;
  font-weight: 500;
  color: #888;
}

.promotionFormGroup input {
  border: 1px solid #aaaaaa;
  border-radius: 8px;
  background-color: #fff;
  height: 36px;
  padding: 0 10px;
}

.promotionFormGroupBtn {
  display: flex;
  justify-content: space-between;
}
