
.uiButton{
    /* remove o valor default que vier */
    background-color: unset;
    /* ou */
    /* background-color: transparent; */
    border: 1px solid #3498db;
    border-radius: 4px;
    color:#3498db;
    text-decoration: none;
    padding: 8px 10px;
    /* margin-left: 10px; */
    /* para não quebrar a linha */
    white-space: nowrap;
}